@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-satoshi font-normal text-base text-body bg-whiten relative z-1;
  }
}

@layer components {
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .chat-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
  .inbox-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.swiper-slide:not(.swiper-slide-next) {
  height: 80%;
}
.swiper-slide.swiper-slide-prev,
.swiper-slide.swiper-slide-next {
  height: 90%;
}
.swiper-slide.swiper-slide-active {
  height: 100% !important;
}
.swiper-wrapper {
  align-items: center;
}
.react-calendar__tile--active {
  background-color: inherit !important;
  color: white !important;
  background-image: url('../images/icon/heart.svg') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.react-calendar__tile {
  padding: 14px 6.6667px !important;
}
.react-calendar__tile--now {
  background: unset !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #fff !important;
}
